.ptc {
  position: fixed;
  inset: 0;
  pointer-events: none;
  z-index: 0;
}
.rv {
  opacity: 0;
  transform: translateY(48px);
  transition:
    opacity 0.9s ease,
    transform 0.9s ease;
}
.rv.on {
  opacity: 1;
  transform: translateY(0);
}
.rl {
  opacity: 0;
  transform: translateX(-48px);
  transition:
    opacity 0.9s ease,
    transform 0.9s ease;
}
.rl.on {
  opacity: 1;
  transform: translateX(0);
}
.rr {
  opacity: 0;
  transform: translateX(48px);
  transition:
    opacity 0.9s ease,
    transform 0.9s ease;
}
.rr.on {
  opacity: 1;
  transform: translateX(0);
}
