#cur {
  position: fixed;
  width: 14px;
  height: 14px;
  background: #0ff;
  border-radius: 50%;
  pointer-events: none;
  z-index: 999999;
  transform: translate(-50%, -50%);
  transition:
    width 0.2s ease,
    height 0.2s ease,
    border-radius 0.2s ease,
    background 0.2s ease;
}
body.light-init #cur {
  background: #c13d10;
}
#cur.h {
  width: 26px;
  height: 26px;
  border-radius: 4px;
  background: #0ff;
}
body.light-init #cur.h {
  background: #c13d10;
}
@media (max-width: 768px) {
  #cur {
    display: none;
  }
}
